ServerHost/EMRS.Client/Connected Services/ApplyToDrugStock/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EMRS.Model" />
  <xs:element name="GetChooseDrugListByStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChooseDrugListByStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="GetChooseDrugListByStorageResult" nillable="true" type="q1:ArrayOfChooseDrugViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChooseDrugSizeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChooseDrugSizeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="GetChooseDrugSizeByCodeResult" nillable="true" type="q2:ArrayOfChooseDrugSizeViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChooseDrugSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChooseDrugSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="GetChooseDrugSizeResult" nillable="true" type="q3:ArrayOfChooseDrugSizeViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoCreateDrugList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoCreateDrugListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="GetAutoCreateDrugListResult" nillable="true" type="q4:ArrayOfCreateDrugListViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDrugApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="list" nillable="true" type="q5:ArrayOfCreateDrugListViewModel" />
        <xs:element minOccurs="0" name="applicantStorage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provideStorage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDrugApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDrugApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EMRS.Model" minOccurs="0" name="GetDrugDetailListResult" nillable="true" type="q6:ArrayOfDrugStockDetailViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>